.vscode/

api/build/
api/test/build/
app/build/
app/test/build/

__pycache__/

*.tmp
*.swp

*version.h
*version.json

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Packaging output
output/

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
