p:first-child, ul:first-child, ol:first-child, dl:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, blockquote:first-child, pre:first-child, form.aui:first-child, table.aui:first-child, .aui-tabs:first-child, .aui-panel:first-child, .aui-group:first-child {
    margin-top: 0
    }
#main .connect-theme-background-cover {
    display: none
    }
#main.themed {
    padding: 0;
    background: none
    }
#status table {
    margin: 10px 0
    }
.watches .tableview-action-icon {
    text-align: right
    }
.confluenceTable {
    border-collapse: collapse
    }
.confluenceTh, .confluenceTd {
    padding: 7px 10px;
    /* CONFDEV-13618: line-height will add up 3 pixels, so we have a 10px top padding for text. Images will remain with 7px top margin though (see thread in Stash) */
    vertical-align: top;
    text-align: left;
    min-width: 8px;
    /* CONF-39943: set table cell min-width to which cursor can be focused */
    }
.confluenceTable, .table-wrap {
    margin: 10px 0 0 0;
    overflow-x: auto
    }
.confluenceTable:first-child, .table-wrap:first-child {
    margin-top: 0
    }
html[data-color-mode=dark] table.confluenceTable [data-highlight-colour="\#344563"] {
    background-color: #9EAED1
    }
table.confluenceTable th.confluenceTh.nohighlight, /* deprecated */table.confluenceTable th.confluenceTh.nohighlight > p {
    /* deprecated */
    font-weight: normal;
    background-color: transparent
    }
table.confluenceTable td.confluenceTd img, table.confluenceTable td.confluenceTd .confluence-embedded-file-wrapper img, table.confluenceTable th.confluenceTh .confluence-embedded-file-wrapper img {
    max-width: none
    }
table.confluenceTable td.numberingColumn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
    }
.rssMacro table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse
    }
.rssMacro table th, .rssMacro table td {
    padding: 4px
    }
.recentlyUpdatedItem td {
    padding: 10px;
    vertical-align: top
    }
.recentlyUpdatedItem .authorAndDate {
    width: 25%
    }
.recentlyUpdatedItem td.icon {
    padding: 8px 0 0 1px
    }
.recentlyUpdatedItem .summary, .recentlyUpdatedItem .thumbnail {
    margin-top: 3px
    }
body.popup-window, body.content-preview, .content-preview.aui-theme-default {
    /* override aui-theme-default background */
    }
.content-preview.aui-theme-default #main.aui-page-panel {
    border: 0
    }
#title-heading.with-breadcrumbs img {
    margin-right: 10px;
    float: left
    }