# Object files
*.o
*.a
*.swp
*.swo
*.elf
*.bin

# VS Code settings
.vscode/

# Build output (cmake, binary files, etc...)
build/

# Vitis Build files
.Xil

# getVersion generated headers
*version.h

# Generated BSP
amc_bsp/
.metadata/
.analytics
IDE.log

# Others
.nfs*
